<%- include('./includes/head'); %>
<%- include('./includes/navbar'); %>
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 my-3">
            
            <% if(user) { %>
            <h1 class="text-center">Agenda</h1>
            <p class="text-center lead">Seus contados estão abaixo</p>
    
            <%- include('includes/messages'); %>
            <div class="table-responsive">
                <table class="table my-3">
                    <% contatos.forEach(contato => { %>
                    <tr>
                        <td><%=contato.nome %></td>
                        <td><%=contato.sobrenome %></td>
                        <td><%=contato.telefone %></td>
                        <td><%=contato.email %></td>
                        <td><a href="/contato/index/<%= contato._id %>">Editar</a></td>
                        <td><a href="/contato/delete/<%= contato._id%>" class="text-danger">Apagar</a></td>
                    </tr>
                    <% }); %>
                </table>
            </div>
            <% }else{ %> 
                <h1 class="text-center display-5">Bem-vindo a Agenda</h1>
                <p class="text-center lead">basta da um click no entrar para ter acesso a aplicação</p>
                <%- include('includes/messages'); %>
            <% } %> 
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
    
<%- include('./includes/footer'); %>

    