<%- include('./includes/head'); %>
<%- include('./includes/navbar'); %>
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 my-3">
            <h1 class="text-center">Faça login ou registresse abaixo</h1>
            <p class="text-center lead">faça o login ou cadastre-se</p>
            <%- include('includes/messages'); %>
            <div class="row">
                <div class="col-lg">
                    <h4>Faça seu cadastro</h4>
                    <p>possui conta?Se não, faça o cadastro.</p>
                    <form action="/login/register" method="POST">
                        <input type="hidden" name="_csrf" value=<%= csrfToken %>>
                        <div class="mb-3">
                          <label class="form-label">Seu Email</label>
                          <input type="email" class="form-control" name="email">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Sua Senha</label>
                            <input type="password" class="form-control" name="password">
                        </div>
                    
                        
                        <button type="submit" class="btn btn-dark">Registrar</button>
                    </form>
                </div>
                <div class="col-lg">
                    <h4>Faça login</h4>
                    <p>possui conta?Se sim,faça login abaixo.</p>
                    <form action="/login/login" method="POST">
                        <div class="mb-3">
                          <label class="form-label">Seu Email</label>
                          <input type="email" class="form-control" name="email">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Sua Senha</label>
                            <input type="password" class="form-control" name="password">
                        </div>
                    
                        
                        <button type="submit" class="btn btn-dark">Entrar</button>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
    
<%- include('./includes/footer'); %>

    